# Data
# ---------------------------------------------------**
*.csv
*.json
*.pickle
*.log

# Excluded files
# ---------------------------------------------------**

# Python and Pycharm
# ---------------------------------------------------**
.idea
.idea/
__pycache__/*
*.pyc
.python-version
.ipynb_checkpoints

# Packages
# ---------------------------------------------------**
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Others
# ---------------------------------------------------**
.DS_Store
.DS_Store?
